<!-- 
 Created on 4/14/2015.
 @author milos.kerkez
 -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form name="addClubToCompetitionForm" ng-submit="addClubToCompetition(compid, cluid)">

    <table class="table">
        <tr><th>Name</th></tr>
        <tr ng-repeat="cl in clubsToInsert">
            <td>{{cl.clubvmName}}</td>
            <td><button class="btn btn-primary" type="submit" ng-click="addClubToCompetition(compid, cl.clubvmId)">Insert</button></td>
        </tr>
    </table>

    <th><input class="btn btn-success" type="submit" value="Add Club To Competition"></th>
</form>
{{noMessage}}
</body>
</html>