<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background-image: url("http://images.wisegeek.com/contract-and-pen.jpg");
            background-size: 1950px 1000px;
        }
    </style>
</head>
<body>
<form name="addContractForm" ng-submit="addContract(newContract, newPla)">

    Select Player:
    <label>
        <select ng-model="newPla">
            <option ng-repeat="pla in players" value="{{pla}}">{{pla.playervmLastName}}</option>
        </select>
    </label>

    <table class="table">
        <tr>
            <th><input name="salaryInput" class="form-control" required type="number" placeholder="Salary" ng-model="newContract.contractSalary">
                <span class="error" ng-show="addContractForm.salaryInput.$touched && !addContractForm.salaryInput.$dirty">Enter Salary!</span></th>
            <th><input name="durationInput" class="form-control" required type="number" placeholder="Duration" ng-model="newContract.contractDuration">
                <span class="error" ng-show="addContractForm.durationInput.$touched && !addContractForm.durationInput.$dirty">Enter Duration!</span></th>
            <th><input class="btn btn-success" type="submit" value="ADD CONTRACT"></th>
        </tr>
    </table>
</form>
</body>
</html>