<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

Order:
<label>
    <select ng-model="orderChoice">
        <option value="name">By Name ASC</option>
        <option value="-name">By Name DEC</option>
        <option value="price">By Price ASC</option>
        <option value="-price">By Price DEC</option>
    </select>
</label>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Year of publishing</th>
        <th>Author</th>
        <th>Number of pages</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr ng-repeat="singleBook in allBooks | orderBy: orderChoice | filter: scName">
        <td>{{singleBook.name}}</td>
        <td>{{singleBook.year}}</td>
        <td>{{singleBook.author}}</td>
        <td>{{singleBook.pages}}</td>
        <td>{{singleBook.category}}</td>
        <td>{{singleBook.price | currency}}</td>
        <td>
            <button class="btn btn-danger" type="submit" ng-click="deleteBook(singleBook)">Delete</button>
        </td>
    </tr>
</table>

<form name="addBookForm" ng-submit="addBook(book)">
    <table class="table">
        <tr>
            <th><input class="form-control" name="nameInput" ng-required="true" ng-minlength="2" type="text"
                       placeholder="Book's name" ng-model="book.name">
                <span class="error" ng-show="addBookForm.nameInput.$error.minlength">Too short!</span>
                <span class="error" ng-show="addBookForm.nameInput.$touched && !addBookForm.nameInput.$dirty">Enter name!</span>
            </th>
            <th><input class="form-control" ng-required="true" ng-minlength="4" ng-maxlength="4" name="yearInput"
                       type="number" placeholder="Year of publishing" ngmodel="book.year">
                <span class="error" ng-show="addBookForm.yearInput.$error.minlength">Too short!</span>
                <span class="error" ng-show="addBookForm.yearInput.$error.maxlength">Too long!</span>
                <span class="error" ng-show="addBookForm.yearInput.$touched && !addBookForm.yearInput.$dirty">Enter year!</span>
            </th>
            <th><input name="authorInput" class="form-control" required type="text" placeholder="Author"
                       ng-model="book.author">
                <span class="error" ng-show="addBookForm.authorInput.$touched && !addBookForm.authorInput.$dirty">Enter author!</span>
            </th>
            <th><input name="pagesInput" class="form-control" required type="number" placeholder="Number of pages"
                       ng-model="book.pages">
                <span class="error" ng-show="addBookForm.pagesInput.$touched && !addBookForm.pagesInput.$dirty">Enter number of pages!</span>
            </th>
            <th><input name="categoryInput" class="form-control" required type="text" placeholder="Category"
                       ng-model="book.category">
                <span class="error" ng-show="addBookForm.categoryInput.$touched && !addBookForm.categoryInput.$dirty">Enter category!</span>
            </th>
            <th><input name="priceInput" class="form-control" required type="number" placeholder="Price"
                       ng-model="book.price">
                <span class="error" ng-show="addBookForm.priceInput.$touched && !addBookForm.priceInput.$dirty">Enter price!</span>
            </th>
            <th><input class="btn btn-success" type="submit" value="Add"
                       ng-disabled="addBookForm.nameInput.$error.minlength || addBookForm.yearInput.$error.minlength || addBookForm.yearInput.$error.maxlength">
            </th>
        </tr>
    </table>
</form>


<form>
    <div class="input-group">
      <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value="search" ng-click="searchBook(scName)">
      </span>
        <input class="form-control" type="search" placeholder="Enter data of book that you want" ng-model="scName">
    <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value="clear" ng-click="clearText()">
      </span>
    </div>
</form>


<br>
{{noMessage}}

<toaster-container></toaster-container>


</body>
</html>
